body{
    text-align: center;
}

h1{
    color: rgb(169, 8, 8);
}

#inputText{
    width: 3em;
    text-align: center;
    font-size: 30px;
}

#button{
    height: 2em;
    width: 7%;
    font-size: 25px;
}

input[type="radio"] {
    transform: scale(1.5);
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

#inputLabel{
    font-size: 25px;
}

p{
    color: rgb(197, 5, 5);
    font-size: 40px;
}